<h4>NgSwitch</h4>
<div *ngFor="let car of Cars" [ngSwitch]="car.color">
  <div *ngSwitchCase="'blue'"
  class="blue">
  {{ car.name }} ({{ car.color }})
</div>
  <div *ngSwitchCase="'yellow'"
  class="yellow">
  {{ car.name }} ({{ car.color }})
</div>
  <div *ngSwitchCase="'silver'"
  class="silver">
  {{ car.name }} ({{ car.color }})
</div>
  <div *ngSwitchCase="'red'"
   class="red">
   {{ car.name }} ({{ car.color }})
</div>
   <div *ngSwitchDefault
   class="text-warning">
   {{ car.name }} {{ car.color }}
  </div>
  </div>


<router-outlet></router-outlet>